.square {
  border-radius: 5px;
  text-align: center;
  color: black;
  font-size: 60px;
  font-weight: bold;
  /* border-radius: */
  background-color: rgb(234, 67, 255);
}

button:hover {
  background-color: #f34442;
}

.cross-line1,
.cross-line2,
.vertical-line,
.horizon-line {
  position: relative;
  display: inline-block;
}

.cross-line1::before {
  content: "";
  border-bottom: 5px solid black;
  top: 50%;
  right: 0;
  width: 100%;
  position: absolute;
  -webkit-transform: skewY(45deg);
  transform: skewY(45deg);
}

.cross-line2::before {
  content: "";
  width: 100%;
  border-bottom: 5px solid black;
  top: 50%;
  right: 0;
  position: absolute;
  -webkit-transform: skewY(-45deg);
  transform: skewY(-45deg);
}
.horizon-line::before {
  content: "";
  width: 100%;
  border-bottom: 5px solid black;
  top: 50%;
  right: 0;
  position: absolute;
}
.vertical-line::before {
  content: "";
  height: 100%;
  border-left: 5px solid black;
  position: absolute;
  top: 0;
  left: 50%;
}
